.add-to-list {
  background-color: greenyellow;
}

.remove-from-list {
  background-color: red;
}

.add-to-list, .remove-from-list {
  float: right;
  position: static;
  transform: none;
}

@media (max-width: 768px) {
  .add-to-list, .remove-from-list {
    float: none;
    margin: auto;
    display: block;
    margin-top: 20px;
  }

}
