<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav-content>-->
<!--    <app-movie-search></app-movie-search>-->
<!--  </mat-sidenav-content>-->

<!--</mat-sidenav-container>-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    mode="side"
    opened="true"
  >
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/my-favourites">My Favourites</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-movie-search></app-movie-search>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>



