.film-block {
  margin: 70px;
}

.film-block p {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.film-block img {
  float: left;
  padding: 10px;
}

.film-plot {
  font-size: 15px;
  padding: 10px;
}

.additional-info {
  clear: left;
  margin-left: 10px;
}

.film-block app-favourites-btn {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {

  .film-block {
    margin: 0;
  }

  .films-content {
    margin: auto;
    margin-top: 70px;
  }

}
